
  <div class="login-container">
    <div class="login-message">
      Please log in to your GitLab account to view the information. Hello
    </div>
    <a href="<%= gitlabUrl %>" class="login-button">Login with GitLab</a>
  </div>

