<div class="logout-container">
  <div class="logout-message">
    Press the button below to log out of your GitLab account. You will then be redirected to the start page.
  </div>
  <a href="<%= baseURL %>" class="logout-button">Logout from your session</a>
</div>